
/*** Add inital styling for page and header **/
html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    overflow-y: hidden;
}


.play > h1{

margin-top: 80px;
}

.header-RP{

    padding-left: 20%;

}


/**Add Back Ground images **/
.background-img{
/* Location of the image */
    height: 100%;
  background: url(../img/stockfish/black-black-and-white-blur-board-game-112854.jpg);
    background-size: cover;

}
#status{

padding-top:77px;
padding-left: 22%;
font-size:20px;

}

.body-container{
width: 100%;
padding: 0;
margin: 0;
font-size:32px;

}
/** Do some CSS to the board **/

#myboard{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
  padding-bottom :17%;

}


/**piecces top ***/

img.captured{
width :32px;
padding-bottom: 12px;
}


.pieces_top i {
    padding-top: 20px;
    margin-left :10px;
    color: #101111e3;
    font-size: 26px;
    font-weight: 900;
}


.pieces_bottom i {
    padding-top: 20px;
    margin-left :10px;
    color: #e4f1f1fb;
    font-size: 26px;
    font-weight: 900;
}


.Chessoptions{
    padding-left: 39%;
    height: 0;

}
.Chessoptions button{
width:155px;
height:50px;
font-size:12px;
}

.Chessoptions a{

    width:155px;
font-size:12px;
}


.Chesstatus{
    padding-left: 15%;
    font-size: 20px;
    
}

